### Node.js ###
node_modules
bower_components
.grunt
.npm
.env

### NPM ###
.npm
npm-debug.log*

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### Composer ###
composer.phar
/vendor/
vendor

### WebStorm ###
*.iml
.idea/

*.ipr
*.iws

### IntelliJ
/out/

.idea_modules/

### VisualStudioCode ###
.vscode

### SublimeText ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

*.sublime-workspace

sftp-config.json

#--

/cgi-bin/
/awstats/
/webstat/
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

*.xml
*.html
*.txt
*.css.map

*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.dt
*.dt*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
*.doc
*.docx
*.pdf
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*
.hg
.ftpconfig
/*~
*/_*
/_*
*.bak
*.old
*.tr
*.debug

!/robots.txt

/sitemap*.xml

/xhprof/logs

/local/php_interface/logs/
/local/logs/
logs
*.log

/upload/
/images/
/dump/
/new/
/new_design_2020/
/dev
/pma
/verstka

/urlrewrite.php

!/bitrix
/bitrix/*
!bitrix/license_key.php

/.htaccess
/.htsecure
/.htaccess.restore
